<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gallery">
	<sql id="search">
		<choose>
			<when test="condition == 'caption_writer'">
				WHERE caption LIKE '%'||#{keyword}||'%' OR writer LIKE '%'||#{keyword}||'%'
			</when>
			<when test="condition == 'caption'">
				WHERE caption LIKE '%'||#{keyword}||'%'
			</when>
			<when test="condition == 'writer'">
				WHERE writer LIKE '%'||#{keyword}||'%'
			</when>
		</choose>
	</sql>
	<sql id="column">
		num, writer, caption, saveFileName, regdate
	</sql>
	<select id="getList" resultType="com.example.boot11.dto.GalleryDto" parameterType="com.example.boot11.dto.GalleryDto">
		SELECT *
		FROM
			(SELECT result1.*, ROWNUM AS rnum
			FROM 
				(SELECT <include refid="column"/>
				FROM board_gallery
				<include refid="search"/>
				ORDER BY num DESC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum} 
	</select>
	<select id="getdata" resultType="com.example.boot11.dto.GalleryDto" parameterType="com.example.boot11.dto.GalleryDto">
		SELECT <include refid="column"/>
		FROM board_gallery
		WHERE num=#{num}
	</select>
	<insert id="insert" parameterType="com.example.boot11.dto.GalleryDto">
		INSERT INTO board_gallery
		( <include refid="column"/> )
		VALUES(board_gallery_seq.NEXTVAL, #{writer}, #{caption}, #{saveFileName}, SYSDATE )
	</insert>
	<delete id="delete" parameterType="int">
		DELETE FROM board_gallery
		WHERE num=#{num}
	</delete>
	<select id="getDetail" parameterType="com.example.boot11.dto.GalleryDto" resultType="com.example.boot11.dto.GalleryDto">
		SELECT *
		FROM
			(SELECT <include refid="column"/>, 
				LAG(num, 1, 0) OVER (ORDER BY num DESC) AS prevNum,
				LEAD(num, 1, 0) OVER (ORDER BY num DESC) AS nextNum
			FROM board_gallery
			 <include refid="search"/>) result1
		WHERE num=#{num}
	</select>
	<select id="getCount" resultType="int" parameterType="com.example.boot11.dto.GalleryDto">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM board_gallery
		<include refid="search"/>
	</select>
</mapper>