<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">
	<select id="getData" parameterType="string" resultType="com.example.boot12.dto.UserDto">
		SELECT id, userName, password, email, role, profile, regdate
		FROM user_tbl
		WHERE userName=#{userName}
	</select>
	<insert id="insert" parameterType="com.example.boot12.dto.UserDto">
		INSERT INTO user_tbl
		(id, userName, password, email, role, regdate)
		VALUES(user_seq.NEXTVAL, #{userName}, #{password}, #{email}, #{role}, SYSDATE)
	</insert>
	<update id="updatePwd" parameterType="com.example.boot12.dto.UserDto">
		UPDATE user_tbl
		SET password=#{newPassword}
		WHERE userName=#{userName}
	</update>
	<update id="update" parameterType="com.example.boot12.dto.UserDto">
		UPDATE user_tbl
		SET email=#{email} <if test="profile != null">, profile=#{profile}</if>
		WHERE userName=#{userName}
	</update>
</mapper>