<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="myFooter" style="border: 1px solid red; background-color: yellow;">
		<p>myFooter 입니다</p>
		<p>어쩌구...</p>
		<p>저쩌구...</p>
	</div>
	
	<!--/* 
		이 fragment 를 사용하는 쪽에서 데이터를 던달하면 title 이 담긴다. 
		title 에 담긴 내용을 참조하는 방법은 ${title} 하면 된다.
	*/-->
	<div th:fragment="yourFooter(title)" style="border: 1px solid red; background-color: yellow;">
		<h3 th:text="${title}"></h3>
		<p>어쩌구...</p>
		<p>저쩌구...</p>
	</div>
</body>
</html>